<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sklay.dao.NewsDAO">
	<resultMap type="com.sklay.bean.News" id="newsResult">
		<id property="id" column="ID" javaType="long" />
		<result property="status" column="STATUS" javaType="int"/>
		<result property="title" column="TITLE" javaType="String"/>
		<result property="content" column="CONTENT" javaType="String"/>
		<result property="summary" column="SUMMARY" javaType="String"/>
		<result property="shortUrl" column="SHORT_URL" javaType="String"/>
		<result property="readCount" column="READ_COUNT" javaType="int"/>
		<result property="favCount" column="FAV_COUNT" javaType="int"/>
		<result property="createTime" column="CREATE_TIME" javaType="Date"/>
		<result property="creator" column="CREATOR" javaType="long"/>
		<result property="updateTime" column="UPDATE_TIME" javaType="Date"/>
		<result property="updator" column="UPDATOR" javaType="long"/>
	</resultMap>
	
	<select id="query" resultMap="newsResult">
		SELECT `ID`,`STATUS`,`TITLE`,`CONTENT`,`SUMMARY`,`SHORT_URL`,`READ_COUNT`,`FAV_COUNT`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `NEWS`;
	</select>
	
    <select id="queryById" resultMap="newsResult" parameterType="long">
        SELECT `ID`,`STATUS`,`TITLE`,`CONTENT`,`SUMMARY`,`SHORT_URL`,`READ_COUNT`,`FAV_COUNT`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `NEWS` WHERE ID = #{id};
    </select>
    
    <select id="queryByCondition" resultMap="newsResult" >
    	SELECT `ID`,`STATUS`,`TITLE`,`CONTENT`,`SUMMARY`,`SHORT_URL`,`READ_COUNT`,`FAV_COUNT`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `NEWS` WHERE 1=1 
    	<if test="_CONDITION != null and _CONDITION != ''">
    	${_CONDITION} 
    	</if>
    	<if test="_ORDER_BY != null and _ORDER_BY != ''">
    	${_ORDER_BY} 
    	</if>
    	<if test="_LIMIT != null and _LIMIT != ''">
    	${_LIMIT}
    	</if>
    </select>
    
    <select id="queryCountByCondition" resultType="int">
    	SELECT COUNT(*) FROM `NEWS` WHERE 1=1 
    	<if test="_CONDITION != null and _CONDITION != ''">
    	${_CONDITION} 
    	</if>
    </select>
    
    <insert id="insert" parameterType="com.sklay.bean.News">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    	INSERT INTO `NEWS`(`STATUS`,`TITLE`,`CONTENT`,`SUMMARY`,`SHORT_URL`,`READ_COUNT`,`FAV_COUNT`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR`) VALUES (#{status},#{title},#{content},#{summary},#{shortUrl},#{readCount},#{favCount},#{createTime},#{creator},#{updateTime},#{updator});
    </insert>
    
    <insert id="insertBatch">
    	INSERT INTO `NEWS` ( `STATUS`,`TITLE`,`CONTENT`,`SUMMARY`,`SHORT_URL`,`READ_COUNT`,`FAV_COUNT`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` ) VALUES 
	    <foreach collection="list" item="item" index="index" separator=",">
	        (#{item.status},#{item.title},#{item.content},#{item.summary},#{item.shortUrl},#{item.readCount},#{item.favCount},#{item.createTime},#{item.creator},#{item.updateTime},#{item.updator})
	    </foreach>
    </insert>
    
    <delete id="delete" parameterType="long">
    	DELETE FROM `NEWS` WHERE `ID` = #{id};
    </delete>
    
    <delete id="deleteBatch">
    	DELETE FROM `NEWS` WHERE `ID` IN 
    	<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
    		#{item}
    	</foreach>
    </delete>
    
    <update id="update" parameterType="com.sklay.bean.News">
    	UPDATE `NEWS` SET `STATUS`=#{status},`TITLE`=#{title},`CONTENT`=#{content},`SUMMARY`=#{summary},`SHORT_URL`=#{shortUrl},`READ_COUNT`=#{readCount},`FAV_COUNT`=#{favCount},`CREATE_TIME`=#{createTime},`CREATOR`=#{creator},`UPDATE_TIME`=#{updateTime},`UPDATOR`=#{updator} WHERE `ID` = #{id}
    </update>
    
    <update id="updateBatch">
    	
    </update>
</mapper>

