<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sklay.dao.UserFavDAO">
	<resultMap type="com.sklay.bean.UserFav" id="userFavResult">
		<id property="id" column="ID" javaType="long" />
		<result property="resource" column="RESOURCE" javaType="int"/>
		<result property="resourceId" column="RESOURCE_ID" javaType="long"/>
		<result property="createTime" column="CREATE_TIME" javaType="Date"/>
		<result property="creator" column="CREATOR" javaType="long"/>
		<result property="updateTime" column="UPDATE_TIME" javaType="Date"/>
		<result property="updator" column="UPDATOR" javaType="long"/>
	</resultMap>
	
	<select id="query" resultMap="userFavResult">
		SELECT `ID`,`RESOURCE`,`RESOURCE_ID`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `USER_FAV`;
	</select>
	
    <select id="queryById" resultMap="userFavResult" parameterType="long">
        SELECT `ID`,`RESOURCE`,`RESOURCE_ID`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `USER_FAV` WHERE ID = #{id};
    </select>
    
    <select id="queryByCondition" resultMap="userFavResult" >
    	SELECT `ID`,`RESOURCE`,`RESOURCE_ID`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` FROM `USER_FAV` WHERE 1=1 
    	<if test="_CONDITION != null and _CONDITION != ''">
    	${_CONDITION} 
    	</if>
    	<if test="_ORDER_BY != null and _ORDER_BY != ''">
    	${_ORDER_BY} 
    	</if>
    	<if test="_LIMIT != null and _LIMIT != ''">
    	${_LIMIT}
    	</if>
    </select>
    
    <select id="queryCountByCondition" resultType="int">
    	SELECT COUNT(*) FROM `USER_FAV` WHERE 1=1 
    	<if test="_CONDITION != null and _CONDITION != ''">
    	${_CONDITION} 
    	</if>
    </select>
    
    <insert id="insert" parameterType="com.sklay.bean.UserFav">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    	INSERT INTO `USER_FAV`(`RESOURCE`,`RESOURCE_ID`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR`) VALUES (#{resource},#{resourceId},#{createTime},#{creator},#{updateTime},#{updator});
    </insert>
    
    <insert id="insertBatch">
    	INSERT INTO `USER_FAV` ( `RESOURCE`,`RESOURCE_ID`,`CREATE_TIME`,`CREATOR`,`UPDATE_TIME`,`UPDATOR` ) VALUES 
	    <foreach collection="list" item="item" index="index" separator=",">
	        (#{item.resource},#{item.resourceId},#{item.createTime},#{item.creator},#{item.updateTime},#{item.updator})
	    </foreach>
    </insert>
    
    <delete id="delete" parameterType="long">
    	DELETE FROM `USER_FAV` WHERE `ID` = #{id};
    </delete>
    
    <delete id="deleteBatch">
    	DELETE FROM `USER_FAV` WHERE `ID` IN 
    	<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
    		#{item}
    	</foreach>
    </delete>
    
    <update id="update" parameterType="com.sklay.bean.UserFav">
    	UPDATE `USER_FAV` SET `RESOURCE`=#{resource},`RESOURCE_ID`=#{resourceId},`CREATE_TIME`=#{createTime},`CREATOR`=#{creator},`UPDATE_TIME`=#{updateTime},`UPDATOR`=#{updator} WHERE `ID` = #{id}
    </update>
    
    <update id="updateBatch">
    	
    </update>
</mapper>

